{{!-- {{First Name}} --}}
  <div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.first_name}}"placeholder="First Name" name="first_name">
      <label for="floatingInput">First Name</label>
    </div>
  </div>
{{!-- {{Last Name}} --}}
  <div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.last_name}} placeholder="Last Name" name="last_name">
      <label for="floatingInput">Last Name</label>
    </div>
  </div>
{{!-- {{Industry}} --}}
  <div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.industry}} placeholder="industry" name="industry">
      <label for="floatingInput">Industry</label>
    </div>
  </div>
{{!-- {{Job Title}} --}}
  <div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.job_title}} placeholder="Job Title" name="job_title">
      <label for="floatingInput">Job Title</label>
    </div>
  </div>
{{!-- {{Website}} --}}
  <div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.website}} placeholder="Website" name="website">
      <label for="floatingInput">Website</label>
    </div>
  </div>
{{!-- {{E-mail}} --}}
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" value="{{this.e-mail}} placeholder="email" name="email">
      <label for="floatingInput">E-mail</label>
    </div>
  </div>
{{!-- {{Phone Number}} --}}
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.phone_number}} placeholder="Phone Number" name="phone_number">
      <label for="floatingInput">Phone Number</label>
    </div>
  </div>
{{!-- {{Instagram}} --}}
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.instagram}} placeholder="Instagram" name="instagram">
      <label for="floatingInput">Instagram</label>
    </div>
  </div>
{{!-- {{Linkedin}} --}}
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.linkedin}} placeholder="Linkedin" name="linkedin">
      <label for="floatingInput">Linkedin</label>
    </div>
  </div>
{{!-- {{Notes}} --}}
  <div class="col-12">
    <div class="form-floating mb-3">
      <textarea class="form-control" id="floatingInput" placeholder="Notes" name="notes" style="height: 200px;">
 {{this.notes}}
 </textarea>
      <label for="floatingInput">Notes</label>
    </div>
  </div>

  <div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>